apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: flipkart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
    spec:
      containers:
      - name: cart-service
        image: laksmans/flipkart-cart-service:latest
        ports:
        - containerPort: 3002
        env:
        - name: NODE_ENV
          value: "production"
