apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: flipkart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: laksmans/flipkart-product-service:latest
        ports:
        - containerPort: 3001
        env:
        - name: NODE_ENV
          value: "production"
